.small-6.large-7.columns
  %br
  #banner
    %h1 Welcome to Switter!
    %h2
    %small
    Express your insights. Discover something. See what's trending.
    
.small-6.large-4.columns
  .row
    %h3 Log in to Switter
    = render 'loginform'
  New on Switter? 
  =link_to 'Sign Up now!', home_path