// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#thread{
	margin: 25px 230px;
}

#commentArea{
	margin: -5px 230px;
}

#switbox{
	background-color: #033649;
	padding: 5px 25px;
}

.swittext{
	color: #CDB380;
}

.datetime{
	color:white;
}

.sweetsour{
	color: white;
}

#titlebox{
	background-color: #036564;
	text-align: center;
}

hr{
	border-style: solid;
	border-width: 2px;
	border-color: #E8DDCB;
}

.username{
	color: #033649;
}

.comment{
	color: #036564;
}

#commentThread{
	background-color: #CDB380;
	margin: -10px 0px;
	padding: 25px 25px;

	height:300px;
	overflow-y:auto;
}
